{
  "extends": "standard",
  "env": {
    "node": true
  },
  "globals": {
    "describe": true,
    "it": true
  },
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "brace-style": ["off", "stroustrup", { "allowSingleLine": true }],
    "space-before-function-paren": ["error", "never"],
  }
}